body {
  margin: 0;
  font-family:
    "" "Roboto Mono" "",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a; /* テーマの背景色と合わせる */
  color: #ffffff; /* テーマのテキスト色と合わせる */
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "" "Courier New" "",
    monospace;
}
